<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        // Handle the incoming message from the chat socket.
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        // Binds an event listener to the "keyup" event of the input field with the ID "chat-message-input".
        // When the user releases a key, the function checks if the key is the "Enter" key.
        // If it is, the function triggers a click event on the element with the ID "chat-message-submit".
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        // This function sets an onclick event listener on the element with the id 'chat-message-submit'.
        // When the element is clicked, it performs the following actions:
        // 1. It retrieves the value of the input field with the id 'chat-message-input'.
        // 2. It creates a JSON object with the 'message' property set to the retrieved value.
        // 3. It sends the JSON object as a string to the chatSocket.
        // 4. It clears the value of the input field.
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>